.calculator .container {
    margin: 60px auto;
    width: 800px;
}

.calculator .container .card-panel {
    margin: 0;
    padding: 0
}

#card-panel {
    padding-right: 0px;
    padding-left: 0px;
}

#screens p,
#screeens input {
    margin: 2px;
    text-align: right;
}

#screens #display {
    font-size: 1.5em;
}

.padding10 {
    padding-top: 10px !important;
    font-size: 1.5em;
}

#code {
    padding: 10px;
    height: 100%;
}

#screens #results {
    font-size: 2.5em
}

#buttons {
    font-size: 1.2em;
    color: white
}

#buttons #numbers {
    padding: 0
}

#buttons #numbers .col {
    height: 94.5px;
    line-height: 55px
}

#buttons #numbers .col .button {
    width: 100%
}

#buttons #operators {
    padding: 0
}

#buttons #operators p {
    margin: 18px auto !important;
    line-height: 27px !important
}